bin/classes/com/twentwo/ringstrings/RSTests.class
src/com/twentwo/ringstrings/RSTests.java
.gradle/2.4/taskArtifacts/cache.properties.lock
.gradle/2.4/taskArtifacts/fileHashes.bin
.gradle/2.4/taskArtifacts/fileSnapshots.bin
.gradle/2.4/taskArtifacts/outputFileStates.bin
.gradle/2.4/taskArtifacts/taskArtifacts.bin
.idea/workspace.xml
ringstrings-app/build/intermediates/resources/resources-debug.ap_
ringstrings-app/build/generated/source/buildConfig/release/com/coreman2200/ringstrings/BuildConfig.java
ringstrings-app/build/generated/source/r/release/com/coreman2200/ringstrings/R.java
ringstrings-app/build/intermediates/mockable-android-21.jar
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/BuildConfig.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/R$attr.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/R$drawable.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/R$id.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/R$layout.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/R$raw.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/R$string.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/R$style.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/R$xml.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/R.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/RingStringsActivity$LoaderAsync.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/RingStringsActivity.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/astrology/Astrology.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/astrology/RSAstrology.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/deprbizlogic/calcRunnable.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/deprbizlogic/currentRunnable.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/deprbizlogic/GlobalLL.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/deprbizlogic/RingString.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/deprbizlogic/RSMath.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/depruielems/InputObject.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/depruielems/RSDialog.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/depruielems/RSInput.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/entities/Entity.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/entities/HigherEntity.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/entities/Person.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/entities/Tags.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/file/io/orientateRunnable.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/file/io/reviveRunnable.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/file/io/RSIO.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/file/io/SaveData.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/file/io/SaveDataAST.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/file/io/SaveDataNUM.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/file/io/SaveDataPSN.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/file/io/XMLPullGlobals.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/google/maps/RSGoogleLoc.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/numerology/Numerology.class
ringstrings-app/build/intermediates/classes/debug/com/coreman2200/ringstrings/numerology/RSNumerology.class
ringstrings-app/build/intermediates/classes/debug/rsgfx/RSGFXBase.class
ringstrings-app/build/intermediates/classes/debug/rsgfx/RSGFXCamera.class
ringstrings-app/build/intermediates/classes/debug/rsgfx/RSGFXDisplay.class
ringstrings-app/build/intermediates/classes/debug/rsgfx/RSGFXEntity.class
ringstrings-app/build/intermediates/classes/debug/rsgfx/RSGFXIcon.class
ringstrings-app/build/intermediates/classes/debug/rsgfx/RSGFXLight.class
ringstrings-app/build/intermediates/classes/debug/rsgfx/RSGFXRender.class
ringstrings-app/build/intermediates/classes/debug/rsgfx/RSGFXRing.class
ringstrings-app/build/intermediates/classes/debug/rsgfx/RSGFXShaderManager.class
ringstrings-app/build/intermediates/classes/debug/rsgfx/RSGFXShaderProgram.class
ringstrings-app/build/intermediates/classes/debug/rsgfx/RSGFXText.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/BuildConfig.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/R$attr.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/R$drawable.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/R$id.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/R$layout.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/R$raw.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/R$string.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/R$style.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/R$xml.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/R.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/RingStringsActivity$LoaderAsync.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/RingStringsActivity.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/astrology/Astrology.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/astrology/RSAstrology.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/deprbizlogic/calcRunnable.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/deprbizlogic/currentRunnable.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/deprbizlogic/GlobalLL.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/deprbizlogic/RingString.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/deprbizlogic/RSMath.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/depruielems/InputObject.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/depruielems/RSDialog.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/depruielems/RSInput.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/entities/Entity.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/entities/HigherEntity.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/entities/Person.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/entities/Tags.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/file/io/orientateRunnable.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/file/io/reviveRunnable.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/file/io/RSIO.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/file/io/SaveData.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/file/io/SaveDataAST.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/file/io/SaveDataNUM.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/file/io/SaveDataPSN.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/file/io/XMLPullGlobals.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/google/maps/RSGoogleLoc.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/numerology/Numerology.class
ringstrings-app/build/intermediates/classes/release/com/coreman2200/ringstrings/numerology/RSNumerology.class
ringstrings-app/build/intermediates/classes/release/rsgfx/RSGFXBase.class
ringstrings-app/build/intermediates/classes/release/rsgfx/RSGFXCamera.class
ringstrings-app/build/intermediates/classes/release/rsgfx/RSGFXDisplay.class
ringstrings-app/build/intermediates/classes/release/rsgfx/RSGFXEntity.class
ringstrings-app/build/intermediates/classes/release/rsgfx/RSGFXIcon.class
ringstrings-app/build/intermediates/classes/release/rsgfx/RSGFXLight.class
ringstrings-app/build/intermediates/classes/release/rsgfx/RSGFXRender.class
ringstrings-app/build/intermediates/classes/release/rsgfx/RSGFXRing.class
ringstrings-app/build/intermediates/classes/release/rsgfx/RSGFXShaderManager.class
ringstrings-app/build/intermediates/classes/release/rsgfx/RSGFXShaderProgram.class
ringstrings-app/build/intermediates/classes/release/rsgfx/RSGFXText.class
ringstrings-app/build/intermediates/dex/debug/classes.dex
ringstrings-app/build/intermediates/incremental/aidl/release/dependency.store
ringstrings-app/build/intermediates/incremental/mergeAssets/release/merger.xml
ringstrings-app/build/intermediates/incremental/mergeResources/release/merger.xml
ringstrings-app/build/intermediates/manifests/full/release/AndroidManifest.xml
ringstrings-app/build/intermediates/pre-dexed/debug/swisseph-2.01.00-00-7bba84fad109e8efbc5b0c4f10699593bebcada4.jar
ringstrings-app/build/intermediates/res/release/drawable-hdpi/ic_launcher.png
ringstrings-app/build/intermediates/res/release/drawable-hdpi/rezlights.png
ringstrings-app/build/intermediates/res/release/drawable-ldpi/ic_launcher.png
ringstrings-app/build/intermediates/res/release/drawable-ldpi/rezlights.png
ringstrings-app/build/intermediates/res/release/drawable-mdpi/ic_launcher.png
ringstrings-app/build/intermediates/res/release/drawable-mdpi/rezlights.png
ringstrings-app/build/intermediates/res/release/layout/main.xml
ringstrings-app/build/intermediates/res/release/layout/mapsmain.xml
ringstrings-app/build/intermediates/res/release/raw/gouraud_frag.txt
ringstrings-app/build/intermediates/res/release/raw/gouraud_vert.txt
ringstrings-app/build/intermediates/res/release/raw/renderglow_frag.txt
ringstrings-app/build/intermediates/res/release/raw/renderglow_vert.txt
ringstrings-app/build/intermediates/res/release/raw/renderlight_frag.txt
ringstrings-app/build/intermediates/res/release/raw/renderlight_vert.txt
ringstrings-app/build/intermediates/res/release/raw/rendertext_frag.txt
ringstrings-app/build/intermediates/res/release/raw/rendertext_vert.txt
ringstrings-app/build/intermediates/res/release/raw/seas_18.se1
ringstrings-app/build/intermediates/res/release/raw/semo_18.se1
ringstrings-app/build/intermediates/res/release/raw/sepl_18.se1
ringstrings-app/build/intermediates/res/release/raw/simple_frag.txt
ringstrings-app/build/intermediates/res/release/raw/simple_vert.txt
ringstrings-app/build/intermediates/res/release/values/values.xml
ringstrings-app/build/intermediates/res/release/xml/gent.xml
ringstrings-app/build/intermediates/res/release/xml/gtags.xml
ringstrings-app/build/intermediates/resources/resources-release.ap_
ringstrings-app/build/outputs/apk/ringstrings-app-debug-unaligned.apk
ringstrings-app/build/outputs/apk/ringstrings-app-debug.apk
ringstrings-app/build/outputs/logs/manifest-merger-release-report.txt
ringstrings-app/build/reports/tests/debug/index.html
ringstrings-app/build/reports/tests/debug/css/base-style.css
ringstrings-app/build/reports/tests/debug/css/style.css
ringstrings-app/build/reports/tests/debug/js/report.js
ringstrings-app/build/reports/tests/release/index.html
ringstrings-app/build/reports/tests/release/css/base-style.css
ringstrings-app/build/reports/tests/release/css/style.css
ringstrings-app/build/reports/tests/release/js/report.js
ringstrings-app/build/test-results/binary/testDebug/output.bin
ringstrings-app/build/test-results/binary/testDebug/output.bin.idx
ringstrings-app/build/test-results/binary/testDebug/results.bin
ringstrings-app/build/test-results/binary/testRelease/output.bin
ringstrings-app/build/test-results/binary/testRelease/output.bin.idx
ringstrings-app/build/test-results/binary/testRelease/results.bin
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/RingStringsActivityTest.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/numerology/RSNumerologyTest.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/numerology/numbersystem/AbstractNumberSystem.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/numerology/numbersystem/ChaldeanNumberSystem.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/numerology/numbersystem/INumberSystem.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/numerology/numbersystem/NumberSystemTest.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/numerology/numbersystem/NumberSystemType.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/numerology/numbersystem/PythagoreanNumberSystem.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/AbstractSymbol.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/ISymbol.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/BaseNumberSymbolImpl.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/BaseNumberSymbols.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/IBaseNumberSymbol.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/INumberSymbol.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/NumberStrata.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/NumberSymbolImpl.class
ringstrings-tests/build/libs/ringstrings-tests.jar
ringstrings-tests/build/reports/tests/index.html
ringstrings-tests/build/reports/tests/classes/com.coreman2200.ringstrings.numerology.numbersystem.NumberSystemTest.html
ringstrings-tests/build/reports/tests/classes/com.coreman2200.ringstrings.numerology.RSNumerologyTest.html
ringstrings-tests/build/reports/tests/classes/com.coreman2200.ringstrings.RingStringsActivityTest.html
ringstrings-tests/build/reports/tests/css/base-style.css
ringstrings-tests/build/reports/tests/css/style.css
ringstrings-tests/build/reports/tests/js/report.js
ringstrings-tests/build/reports/tests/packages/com.coreman2200.ringstrings.html
ringstrings-tests/build/reports/tests/packages/com.coreman2200.ringstrings.numerology.html
ringstrings-tests/build/reports/tests/packages/com.coreman2200.ringstrings.numerology.numbersystem.html
ringstrings-tests/build/resources/test/robolectric.properties
ringstrings-tests/build/test-results/TEST-com.coreman2200.ringstrings.numerology.numbersystem.NumberSystemTest.xml
ringstrings-tests/build/test-results/TEST-com.coreman2200.ringstrings.numerology.RSNumerologyTest.xml
ringstrings-tests/build/test-results/TEST-com.coreman2200.ringstrings.RingStringsActivityTest.xml
ringstrings-tests/build/test-results/binary/test/output.bin
ringstrings-tests/build/test-results/binary/test/output.bin.idx
ringstrings-tests/build/test-results/binary/test/results.bin
ringstrings-tests/build/tmp/jar/MANIFEST.MF
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/inputprocessor/AbstractInputProcessor.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/inputprocessor/INumberSymbolInputProcessor.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/inputprocessor/NumberSymbolInputProcessorImpl.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/DerivedNumberSymbolImpl$Derived.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/DerivedNumberSymbolImpl.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/IDerivedNumberSymbol.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/chart/Charts.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/chart/IChartedSymbols.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/IGroupedSymbols.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/IProfile.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/IRelatedSymbols.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/RandomizedTestProfileImpl.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/RelatedSymbolMap.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/TestProfileImpl.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/inputprocessor/numerology/INumberSymbolInputProcessor.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/inputprocessor/numerology/NumberSymbolInputProcessorImpl.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/inputprocessor/numerology/NumerologicalChartProcessorImpl.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/inputprocessor/numerology/grouped/ChallengesProcessorImpl.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/inputprocessor/numerology/grouped/GroupedNumberSymbolsInputProcessorImpl.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/inputprocessor/numerology/grouped/IGroupedNumberSymbolsInputProcessor.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/inputprocessor/numerology/grouped/PeriodsProcessorImpl.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/inputprocessor/numerology/grouped/PersonalsProcessorImpl.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/inputprocessor/numerology/grouped/PinnaclesProcessorImpl.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/inputprocessor/numerology/grouped/QualitiesProcessorImpl.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/DerivedNumberSymbols.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/GroupedNumberSymbols.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/GroupedNumberSymbolsImpl.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/IChartedNumberSymbols.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/IGroupedNumberSymbols.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/IListedNumberSymbols.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/IRelatedNumberSymbols.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/ListedNumberSymbolsImpl$Listed.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/ListedNumberSymbolsImpl.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/NumerologicalChartImpl.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/RelatedNumberSymbolsImpl.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/grouped/Challenges.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/grouped/Periods.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/grouped/Personal.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/grouped/Pinnacles.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/numbersymbol/grouped/Qualities.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/symbolcomparator/AbstractSymbolComparator.class
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/symbol/symbolcomparator/NumberSymbolValueComparatorImpl.class
core/build/libs/core.jar
core/build/tmp/jar/MANIFEST.MF
ringstrings-tests/build/classes/test/com/coreman2200/ringstrings/chart/AbstractChart.class
.idea/codeStyles/Project.xml
.idea/runConfigurations.xml
.idea/modules.xml
local.properties
.idea/misc.xml
.idea/gradle.xml
RingStrings.iml
.idea/vcs.xml
