<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coreman2200.ringstrings.presentation">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ringstrings"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".RSActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>